

@keyframes GrowShrink {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    25% {
        transform: scale(1.1);
        box-shadow: 0 0 3px 1px black;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 5px 1px black;
    }
    75% {
        transform: scale(1.1);
        box-shadow: 0 0 3px 1px black;
    }
}

.locations-box {
    margin-top: 0;
    background-color: #a0262e;
    width: 80%;
    padding: 10px;
    height: 25vh;
    overflow-y: scroll;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 5px;
    overflow-x: hidden;
}

.locations-box::-webkit-scrollbar {
    width: 20px;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.locations-box::-webkit-scrollbar-track {
    background-color: rgba(255,255,255, 0.15);
}

.locations-box::-webkit-scrollbar-thumb {
    background-color: #a0262e;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 300ms;
}

.locations-box::-webkit-scrollbar-thumb:hover {
    background-color: #90151d;
    box-shadow: 0 0 3px -1px gray;
}

.locations-container {
    text-align: left;
    width: 100%;
    margin: 0vh auto 2vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.no-locations-text {
    color: #fff;
}
