
.add-location-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-location-form {
    background-color: #a0262e;
}

.close-container-row, .add-location-form-container {
    width: 50%;
}