

.order-cart-container {
    background-color: #a0262e;
    height: 100%;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: -3px 0px 3px -1px gray;
}

.order-cart-title {
    color: white;
    text-align: left;
    font-size: 2.5em;
    margin: 0;
}

.order-items-container {
    background-color: #FFC72C;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: inset 0 0 3px 1px gray;
}

.no-items-text {
    text-align: left;
    color: white;
    font-weight: bold;
    margin: 0;
}