
.suggestion-row {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0;
    transform: all 300ms;
}

.suggestion-row:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 1px gray;
}