
.past-order-container {
    position: relative;
    width: 97.5%;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 4px -1px black;
    border-radius: 5px;
    padding: 1vh;
    z-index: 10;
    flex-wrap: wrap;
}

/* #ffc72c yellow */
/* #a0262e red */

.past-order-info-block {
    width: 31%;
}

.past-order-details-action-block {
    width: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.past-order-details-action-block:hover {
    cursor: pointer;
}

.past-order-info-label {
    font-weight: bold;
    color: #ffffff;
}

.past-order-info-value {
    color: #ffc72c;
}

.past-order-details-chevron {
    transition: all 333ms ease-in;
}

.show-details {
    transform: rotate(180deg);
}