

.even-row {
    /* background-color: #eee; */
}

.half-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px 20px;
    text-align: left;
}

.optimization-details {
    padding: 10px;
}

.optimization-details-container {
    margin: 20px 0; 
}

.optimization-details-container>p {
    margin-top: 0;
}

.optimization-details-title {
    margin-bottom: 0;
}

.optimization-title, .savings-title {
    color: #a0262e;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 0;
}

.savings-table-container {
    border-radius: 5px;
}

.table-half-column {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.table-quarter-column {
    width: 25%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.middle-column {
}

.smaller-container {
    /* height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    /* border: 1px solid black; */
}

.table-headers {
    font-size: 14px;
}

.table-headers-row {
    background-color: #a0262e;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px -1px #000;
    z-index: 10;
}

.table-headers-row, .table-data-row {
    display: flex;
}

.table-data-row:last-child {
    border-bottom: none;
}

.top-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
}