

.past-order-details-container {
    width: 100%;
    background-color: #ffffff;
}

.past-order-items-container {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.past-order-details-label {
    /* margin-top: 5vh; */
}