
.action-button {
    width: 50%;
    padding: 15px 0;
    border-radius: 5px;
    transition: all 400ms;
    font-weight: bold;
}

.action-button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px -1px black;
    transform: scale(1.1);
}

.action-button-row {
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.action-login-button {
    border: 3px solid #FFC72C;
    color: #ffc72c;
}

.action-signup-button {
    background-color: #FFC72C;
    color: #a0262e;
}

.back-button-row {
    width: 50%;
    margin: 0 auto;
    display: flex;
    color: #a0262e;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.back-button-row:hover {
    cursor: pointer;
}

.column-flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    box-shadow: 1px 1px 3px -1px gray;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #a0262e
}

.input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex: 1;
    height: 25px;
    color: #FFC72C;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #ffc72c;
}

.input-error {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

.input-label-row {
    text-align: left;
    color: #FFC72C;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
}

.input-outer {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    
}

.input-row {
    width: 75%;
    margin: 10px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: transparent;
}

.or-row {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc72c;
}

.send-button {
    position: relative;
    border:  3px solid #a0262e;
    color: #a0262e;
    width: 50%;
    padding: 1% 0;
    border-radius: 5px;
    font-weight: bold;
    transition: all 400ms;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
}

.send-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    background-color: #a0262e;
    transition: all 300ms;
    transform: translateX(-100%);
    z-index: -1;
}

.send-button:hover::before {
    transform: translateX(0);
}


.send-button:hover {
    cursor: pointer;
    color: #ffc72c;
}

.send-button-row {
    margin-top: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-auth-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}